<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<bean id="dataSourceName" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="practice" />
		<property name="password" value="1234" />
	</bean>
	 
	<bean id="userDao" class="practice.spring.toby.chapter4.UserDaoJdbc">
		<property name="dataSource" ref="dataSourceName" />
	</bean>
	
	<bean id="Oracle" class="org.springframework.jdbc.support.SQLErrorCodes">
		<property name="badSqlGrammarCodes"> <!-- 예외 클래스 종류 -->
			<value>900,903,917,936,942,17006</value> <!-- 매핑되는 DB에러코드. 에러코드가 세분화된 경우 여러개가 들어가기도 한다. -->
		</property>
		
		<property name="invalidResultSetAccessCodes">
			<value>17003</value>
		</property>
		
		<property name="duplicateKeyCodes">
			<value>1</value>
		</property>
		
		<property name="dataIntegrityViolationCodes">
			<value>1400,1722,2291,2292</value>
		</property>
		
		<property name="dataAccessResourceFailureCodes">
			<value>17002,17447</value>
		</property>
	</bean>
</beans>
