<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="practice" />
		<property name="password" value="1234" />	
	</bean>
		
	<bean id="userDao" class="practice.spring.toby.chapter6.UserDaoJdbc">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="mailSender" class="practice.spring.toby.chapter6.MockMailSender" />
	
	<!-- 데코레이터 패턴 -->
	<!-- 타깃 -->
	<bean id="userServiceImple" class="practice.spring.toby.chapter6.UserServiceImple">
		<property name="userDao" ref="userDao" />
		<property name="mailSender" ref="mailSender" />
	</bean>
	
	<!-- 데코레이터 -->
	<!-- 
	<bean id="userService" class="practice.spring.toby.chapter6.UserServiceTx">
		<property name="transactionManager" ref="transactionManager" />
		<property name="userService" ref="userServiceImple" />
	</bean>
	 -->
	
	<!-- 팩토리 빈 설정 -->
	<bean id="message" class="practice.spring.toby.chapter6.MessageFactoryBean">
		<property name="text" value="Factory Bean" />
	</bean>
	
	<!-- UserSErvice에 대한 트랜잭션 프록시 팩토리 빈 -->
	<bean id="userService" class="practice.spring.toby.chapter6.TxProxyFactoryBean">
		<property name="target" ref="userServiceImple" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="pattern" value="upgradeLevels" />
		<property name="serviceInterface" value="practice.spring.toby.chapter6.UserService" />
	</bean>
	<!-- serviceInterface는 단순 타입이 아니라 클래스 타입이다. 클래스 타입은 value를 이용해 클래스 또는 인터페이스의 이름을 넣어주면 된다. -->
	

</beans>
